<p id="notice"><%= notice %></p>

<p>
  <strong>X1:</strong>
  <%= @classifier.x1 %>
</p>

<p>
  <strong>X2:</strong>
  <%= @classifier.x2 %>
</p>

<p>
  <strong>X3:</strong>
  <%= @classifier.x3 %>
</p>

<p>
  <strong>X4:</strong>
  <%= @classifier.x4 %>
</p>

<p>
  <strong>X5:</strong>
  <%= @classifier.x5 %>
</p>

<p>
  <strong>X6:</strong>
  <%= @classifier.x6 %>
</p>

<%= link_to 'Edit', edit_classifier_path(@classifier) %> |
<%= link_to 'Back', classifiers_path %>
